.nav {
  background: gray;
  box-sizing: border-box;
  height: 60px;
  line-height: 20px;
  padding: 20px; }

.nav a {
  color: white;
  font-family: sans-serif, serif, monospace;
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
  float: right;
  font-family: sans-serif, serif, monospace; }

.container {
  margin-top: 50px; }
  .container .row {
    flex-wrap: wrap; }
    .container .row .col-md-6 {
      display: block;
      padding: 2px; }
      .container .row .col-md-6 .grafico {
        display: block;
        max-width: 100%;
        height: auto; }
        .container .row .col-md-6 .grafico--izquierdo {
          margin-right: 2px; }
        .container .row .col-md-6 .grafico--derecho {
          margin-left: 2px; }
      .container .row .col-md-6 .texto-grafico {
        font-size: 16px;
        margin-top: 5px;
        font-family: sans-serif, serif, monospace; }
        .container .row .col-md-6 .texto-grafico--izquierdo {
          order: 1; }
        .container .row .col-md-6 .texto-grafico--derecho {
          order: 2; }

.text {
  padding: 32px;
  text-align: center; }

body {
  color: gray;
  overflow-y: overlay;
  font-family: sans-serif, serif, monospace; }

h1 {
  text-align: center; }

.formulario {
  text-align: center; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(240deg) brightness(100%) contrast(101%); }

.carousel-control-prev,
.carousel-control-next {
  width: 5%; }

footer {
  color: gray;
  bottom: 0;
  width: 100%; }

footer a {
  color: white; }

div {
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box; }
