// imports 
@import 'partials/nav';
@import 'partials/grids';

// Mixin para estilos de texto
@mixin texto {
  font-family: sans-serif, serif, monospace;
  }  

// Definición del mapa de colores
$colors: (
  "nav": gray,
  "text": gray,
  "link": white
);

// Formato del cuerpo de la página
body {
  color: map-get($colors, "text");
  overflow-y: overlay;
  @include texto;
}

// Formato del título principal
h1 {
  text-align: center;
}


// Formato del formulario
.formulario {
  text-align: center;
}

// Formato flechas del carrusel
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(240deg) brightness(100%) contrast(101%);
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

// Formato del footer
footer {
  color: map-get($colors, "text");
  bottom: 0;
  width: 100%;
}

// Estilo de los enlaces en el footer
footer a {
  color: map-get($colors, "link");
}

// Separación de divs
div {
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}